#container
{padding-top: 50px; padding-left: 100px; padding-right: 100px}

html
{font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;}

h1, h2, h3, h4
{background-color: #2A5740; font-color: white; border-weight: 1px; border-color: #D6A800; padding: 10px}

a:link
{color: #FFBD26; text-decoration: none}

a: visited
{color: #A1D6FF}

a:hover
{color: white}


