#container
{padding-top: 50px; padding-left: 100px; padding-right: 100px}

html
{font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;}

h1, h2, h3, h4
{background-color: #2A5740; color: white; border: 1px solid #D6A800; padding: 10px}

a:link
{color: #B39000; text-decoration: none}

a:visited
{color: #D9BDFF}

a:hover
{color: #A1D6FF;}


