html{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#container h1{
    text-align: center;
    rgb(24 82 2 / 30%)
}

#image-gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: darkgoldenrod;
    padding: 10px
}

#image-gallery div{
    margin-top: 10%;
}

h3{
    text-align: center;
    rgb(2 43 82 / 50%)
}

figure{
    text-align: center;
}

figcaption{
    font-style: italic;
    font-size: .75em;
    rgb(179 216 255 / 30%)
}

#link{
    float: right;
    margin-top: 60%;
    margin-bottom: 20px
}