html{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal
}

body{
    background-color: #C7C7C7;
    margin: 0
}

nav{
    background-color: #ACC9CA;
    overflow: hidden;
    height: 80px;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 5px solid #154747;
}

#navbar{
    margin: 20px
}

nav a{
    color: #154747;
    float: left;
    display: block;
    padding: 14px 16px;
    text-decoration: none
}

nav a:hover{
    color: white;
    text-shadow: 2px 2px 4px grey
}

#heading{
    margin: 6%;
    font-size: 60px;
    font-weight: 700;
    color: #033333;
    letter-spacing: 2px
}

#text_box{
    display: grid;
    margin: 5%;
    text-align: left;
}

#hobby_one{
    display: inline-block
}

#hobby_two{
    display: inline-block
}

#hobby_three{
    display: inline-block
}

#hobby_four{
    display: inline-block
}

p{
    width: 450px;
    display: inline-block
}

figure{
    float: right;
    display: inline-block;
    margin: 10px;
}

figure img{
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.5)
}

figcaption{
    font-style: italic;
    margin-top: 10px
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    margin-top: auto
}
ul{
    list-style-type: none
}

ul a{
    color: #154747;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px
}
 ul a:hover{
     color: white;
     text-shadow: 2px 2px 4px grey
 }

 #external h2{
     color: #033333;
     margin: 5%
 }