#container
{font-family: "Roboto Condensed", sans-serif; font-weight: 400; overflow: auto}

h1
{text-align: center}

#left
{width: 45%; border: 1px solid red; border-radius: 15px; padding: 10px; display: inline-block; margin-left: 20px; margin-right: 5px}

#right
{width: 45%; border: 1px dashed red; border-radius: 15px; padding: 10px; display: inline-block; vertical-align: top; margin-left: 5px; margin-right: 20px}

#last
{width: 100%; margin-top: 60%; margin-bottom: 20px}

h3
{font-weight: 500}

li
{font-weight: 300}

ol
{list-style-position: inside}

ul
{list-style-type: upper-roman; list-style-position: inside}

a:link
{color: darkgoldenrod; float: right}

a:visited
{color: darkslateblue}

a:hover
{color: cornflowerblue; text-decoration: underline}
