#container
{font-family: "Roboto Condensed", sans-serif; font-weight: 400; overflow: auto}

h1
{text-align: center}

#left
{width: 45%; border: 1px solid red; border-radius: 15px; display: inline-block}

#right
{width: 45%; border: 1px dashed red; border-radius: 15px; display: inline-block}

#last
{width: 100%; margin-top: 60%; margin-bottom: 20px; float: right}

h3
{weight: 500}

li
{weight: 300}

ol
{padding: 10px; list-style-position: inside}

ul
{padding: 10px; list-style-type: upper-roman; list-style-position: inside}

a:link
{color: darkgoldenrod}

a:visited
{color: darkslateblue}

a:hover
{color: cornflowerblue; text-decoration: underline}
